/*
    Document   : public/css/styles．css
    Created on : 2014-06-14 03:32 PM
    Author     : richpolis
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.error-message {
    color: red;
}